body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* headings */

.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/*  Nav Bar */

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: 400;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}
.navbar-nav {
  text-align: left;
}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* sections */
.coloured-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
}

/* title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title {
  padding-bottom: 7%;
}
.title-image {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  left: 50%;
}

/* features */

#features {
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}
.feature-box-3 {
  padding: 4.5% 2%;
}

p {
  color: #8f8f8f;
}
.icon {
  color: #fa8072;
  margin-bottom: 7%;
}
.icon :hover {
  color: #ff4c68;
}

/* testimonials section */

#testimonials {
  background-color: #fa8072;
}
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #fa8072;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 7% 10%;
}
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
.card-group {
  margin: auto;
  margin-top: 5%;
}
.pricing-column {
  padding: 3% 2%;
}
.card-header {
  background-color: #d5eebb;
}

/*-- Call to Action --*/

#cta {
  margin: auto;
}

/* ----footer----- */

#footer {
  font-size: 0.75rem;
  font-weight: 600;
}
.footer-icon {
  margin: 20px 10px;
}

@media screen and (max-width: 1000px) {
  #title {
    text-align: center;
  }
  .title-image {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}
